<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  </head>
  <body>
    <header>
        <h1>Notes App</h1>
        <p>This is a STATIC HTML PAGE where I can store my class notes.</p>
    </header>

    <div class="card">
      <div class="card-header">
        Note 1
      </div>
      <div class="card-body">
        HTTP requests are great, BUT THIS PAGE IS A STATIC HTML DOCUMENT
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Yet Another Note
      </div>
      <div class="card-body">
        http is a protocol, IN CASE YOU FORGOT
      </div>
    </div>
  </body>
</html>